In [40]:
import json
import pandas as pd
import numpy as np

In [41]:
file_name='brandlist_crawling.json'
with open(file_name, 'r', encoding='utf-8') as f:
        j = json.load(f)
        df = pd.json_normalize(j)

        # crawling_df = df.T

In [42]:
pd.set_option('display.max_colwidth', None)
crawling_df = df.T

In [43]:
crawling_df

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      0
2022fw_brand_list.json.A  [runway-seasonshowsnav-fall_2022_ready_to_wear-a_l_c, runway-seasonshowsnav-fall_2022_ready_to_wear-a_p_c, runway-seasonshowsnav-fall_2022_ready_to_wear-academy_of_art_university, runway-seasonshowsnav-fall_2022_ready_to_wear-acne_studios, runway-seasonshowsnav-fall_2022_ready_to_wear-adam_lippes, runway-seasonshowsnav-fall_2022_ready_to_wear-adeam, runway-seasonshowsnav-fall_2022_ready_to_wear-agl, runway-seasonshowsnav-fall_2022_ready_to_wear-agnona, runway-seasonshowsnav-fall_2022_ready_to_wear-ahluwalia_studio, runway-seasonshowsnav-fall_2022_ready_to_wear-akris, runway-seasonshowsnav-fall_2022_ready_to_wear-azzedine_alaia, runway-seasonshowsnav-fall_2022_ready_to_wear-alberta_ferretti, runway-seasonshowsnav-fall_2022_ready_to_wear-alejandra_alonso_rojas, runway-seasonshowsnav-fall_2022_ready_to_wear-alessandra_rich, runway-seasonshowsnav-fall_2022_ready_to_wear-alexander_mcqueen, runway-seasonshowsnav-fall_2022_ready_to_wear-alexander_wang, runway-seasonshowsnav-fall_2022_ready_to_wear-alexandre_vauthier, runway-seasonshowsnav-fall_2022_ready_to_wear-alice_olivia, runway-seasonshowsnav-fall_2022_ready_to_wear-aliette, runway-seasonshowsnav-fall_2022_ready_to_wear-altuzarra, runway-seasonshowsnav-fall_2022_ready_to_wear-ambush, runway-seasonshowsnav-fall_2022_ready_to_wear-amiri, runway-seasonshowsnav-fall_2022_ready_to_wear-andrea_pompilio, runway-seasonshowsnav-fall_2022_ready_to_wear-andreas_kronthaler_for_vivienne_westwood, runway-seasonshowsnav-fall_2022_ready_to_wear-andrew_gn, runway-seasonshowsnav-fall_2022_ready_to_wear-angel_chen, runway-seasonshowsnav-fall_2022_ready_to_wear-ann_demeulemeester, runway-seasonshowsnav-fall_2022_ready_to_wear-anna_sui, runway-seasonshowsnav-fall_2022_ready_to_wear-anrealage, runway-seasonshowsnav-fall_2022_ready_to_wear-anteprima, runway-seasonshowsnav-fall_2022_ready_to_wear-apiece_apart, runway-seasonshowsnav-fall_2022_ready_to_wear-area, runway-seasonshowsnav-fall_2022_ready_to_wear-arthur_arbesser, runway-seasonshowsnav-fall_2022_ready_to_wear-ashish, runway-seasonshowsnav-fall_2022_ready_to_wear-ashlyn, runway-seasonshowsnav-fall_2022_ready_to_wear-aspesi, runway-seasonshowsnav-fall_2022_ready_to_wear-atlein, runway-seasonshowsnav-fall_2022_ready_to_wear-autumn_adeigbo, runway-seasonshowsnav-fall_2022_ready_to_wear-az_factory]
2022fw_brand_list.json.B                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    [runway-seasonshowsnav-fall_2022_ready_to_wear-bach_mai, runway-seasonshowsnav-fall_2022_ready_to_wear-badgley_mischka, runway-seasonshowsnav-fall_2022_ready_to_wear-baja_east, runway-seasonshowsnav-fall_2022_ready_to_wear-balenciaga, runway-seasonshowsnav-fall_2022_ready_to_wear-bally, runway-seasonshowsnav-fall_2022_ready_to_wear-balmain, runway-seasonshowsnav-fall_2022_ready_to_wear-batsheva, runway-seasonshowsnav-fall_2022_ready_to_wear-beatrice_b, runway-seasonshowsnav-fall_2022_ready_to_wear-bethany_williams, runway-seasonshowsnav-fall_2022_ready_to_wear-bevza, runway-seasonshowsnav-fall_2022_ready_to_wear-bibhu_mohapatra, runway-seasonshowsnav-fall_2022_ready_to_wear-blumarine, runway-seasonshowsnav-fall_2022_ready_to_wear-bora_aksu, runway-seasonshowsnav-fall_2022_ready_to_wear-hugo_boss, runway-seasonshowsnav-fall_2022_ready_to_wear-bottega_veneta, runway-seasonshowsnav-fall_2022_ready_to_wear-botter, runway-seasonshowsnav-fall_2022_ready_to_wear-brandon_maxwell, runway-seasonshowsnav-fall_2022_ready_to_wear-bronx_and_banco, runway-seasonshowsnav-fall_2022_ready_to_wear-brunello_cucinelli, runway-seasonshowsnav-fall_2022_ready_to_wear-burberry_prorsum]
2022fw_brand_list.json.C                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          [runway-seasonshowsnav-fall_2022_ready_to_wear-callas_milano, runway-seasonshowsnav-fall_2022_ready_to_wear-calvin_luo, runway-seasonshowsnav-fall_2022_ready_to_wear-capasa_milano, runway-seasonshowsnav-fall_2022_ready_to_wear-carolina_herrera, runway-seasonshowsnav-fall_2022_ready_to_wear-casablanca, runway-seasonshowsnav-fall_2022_ready_to_wear-cecilie_bahnsen, runway-seasonshowsnav-fall_2022_ready_to_wear-central_saint_martins, runway-seasonshowsnav-fall_2022_ready_to_wear-chanel, runway-seasonshowsnav-fall_2022_ready_to_wear-charles_jeffrey_loverboy, runway-seasonshowsnav-fall_2022_ready_to_wear-chloe, runway-seasonshowsnav-fall_2022_ready_to_wear-chocheng, runway-seasonshowsnav-fall_2022_ready_to_wear-chopova_lowena, runway-seasonshowsnav-fall_2022_ready_to_wear-christian_cowan, runway-seasonshowsnav-fall_2022_ready_to_wear-christian_dior, runway-seasonshowsnav-fall_2022_ready_to_wear-christian_siriano, runway-seasonshowsnav-fall_2022_ready_to_wear-christopher_esber, runway-seasonshowsnav-fall_2022_ready_to_wear-christopher_kane, runway-seasonshowsnav-fall_2022_ready_to_wear-chufy, runway-seasonshowsnav-fall_2022_ready_to_wear-co, runway-seasonshowsnav-fall_2022_ready_to_wear-coach, runway-seasonshowsnav-fall_2022_ready_to_wear-collina_strada, runway-seasonshowsnav-fall_2022_ready_to_wear-colville, runway-seasonshowsnav-fall_2022_ready_to_wear-comme_des_garcons, runway-seasonshowsnav-fall_2022_ready_to_wear-commission, runway-seasonshowsnav-fall_2022_ready_to_wear-cong_tri, runway-seasonshowsnav-fall_2022_ready_to_wear-conner_ives, runway-seasonshowsnav-fall_2022_ready_to_wear-connor_mcknight, runway-seasonshowsnav-fall_2022_ready_to_wear-coperni, runway-seasonshowsnav-fall_2022_ready_to_wear-cos, runway-seasonshowsnav-fall_2022_ready_to_wear-courreges, runway-seasonshowsnav-fall_2022_ready_to_wear-cult_gaia]
2022fw_brand_list.json.D                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   [runway-seasonshowsnav-fall_2022_ready_to_wear-daniel_w_fletcher, runway-seasonshowsnav-fall_2022_ready_to_wear-danielle_frankel, runway-seasonshowsnav-fall_2022_ready_to_wear-david_koma, runway-seasonshowsnav-fall_2022_ready_to_wear-del_core, runway-seasonshowsnav-fall_2022_ready_to_wear-derek_lam_10_crosby, runway-seasonshowsnav-fall_2022_ready_to_wear-deveaux, runway-seasonshowsnav-fall_2022_ready_to_wear-di_petsa, runway-seasonshowsnav-fall_2022_ready_to_wear-diane_von_furstenberg, runway-seasonshowsnav-fall_2022_ready_to_wear-diesel, runway-seasonshowsnav-fall_2022_ready_to_wear-dion_lee, runway-seasonshowsnav-fall_2022_ready_to_wear-dolce_gabbana, runway-seasonshowsnav-fall_2022_ready_to_wear-schumacher, runway-seasonshowsnav-fall_2022_ready_to_wear-dries_van_noten, runway-seasonshowsnav-fall_2022_ready_to_wear-dsquared, runway-seasonshowsnav-fall_2022_ready_to_wear-duncan, runway-seasonshowsnav-fall_2022_ready_to_wear-dundas, runway-seasonshowsnav-fall_2022_ready_to_wear-duro_olowu]
2022fw_brand_list.json.E                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    [runway-seasonshowsnav-fall_2022_ready_to_wear-eckhaus_latta, runway-seasonshowsnav-fall_2022_ready_to_wear-edeline_lee, runway-seasonshowsnav-fall_2022_ready_to_wear-edward_crutchley, runway-seasonshowsnav-fall_2022_ready_to_wear-eftychia, runway-seasonshowsnav-fall_2022_ready_to_wear-elena_velez, runway-seasonshowsnav-fall_2022_ready_to_wear-elie_saab, runway-seasonshowsnav-fall_2022_ready_to_wear-emilia_wickstead, runway-seasonshowsnav-fall_2022_ready_to_wear-emilio_pucci, runway-seasonshowsnav-fall_2022_ready_to_wear-emporio_armani, runway-seasonshowsnav-fall_2022_ready_to_wear-erdem, runway-seasonshowsnav-fall_2022_ready_to_wear-erl, runway-seasonshowsnav-fall_2022_ready_to_wear-ester_manas, runway-seasonshowsnav-fall_2022_ready_to_wear-et_ochs, runway-seasonshowsnav-fall_2022_ready_to_wear-etro, runway-seasonshowsnav-fall_2022_ready_to_wear-eudon_choi, runway-seasonshowsnav-fall_2022_ready_to_wear-european_culture, runway-seasonshowsnav-fall_2022_ready_to_wear-eytys]
...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ...
2023fw_brand_list.json.V                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            [runway-seasonshowsnav-fall_2023_ready_to_wear-valentino, runway-seasonshowsnav-fall_2023_ready_to_wear-vaquera, runway-seasonshowsnav-fall_2023_ready_to_wear-veronica_beard, runway-seasonshowsnav-fall_2023_ready_to_wear-versace, runway-seasonshowsnav-fall_2023_ready_to_wear-victoria_beckham, runway-seasonshowsnav-fall_2023_ready_to_wear-vivetta, runway-seasonshowsnav-fall_2023_ready_to_wear-vivienne_westwood, runway-seasonshowsnav-fall_2023_ready_to_wear-vtmnts]

In [44]:




crawling_df.columns = ['url']

crawling_df3= crawling_df.explode('url')

ys_info= crawling_df3.index.str
ys = ys_info.split('_').str[0]
alphabet = ys_info.split('\.').str[-1]
year = ys.str.extract(r'(\d+)')[0]
season = ys.str.extract(r'([a-z]+)')[0]

In [45]:
crawling_name = []
for z in crawling_df3['url'].tolist():
    crawling_name.append(z.split('-')[-1])

In [46]:
crawling_df3['url_name'] = crawling_name
crawling_df3['year'] =year.tolist()
crawling_df3['season'] =season.tolist()

In [47]:
crawling_df3

,url,url_name,year,season
2022fw_brand_list.json.A,runway-seasonshowsnav-fall_2022_ready_to_wear-a_l_c,a_l_c,2022,fw
2022fw_brand_list.json.A,runway-seasonshowsnav-fall_2022_ready_to_wear-a_p_c,a_p_c,2022,fw
2022fw_brand_list.json.A,runway-seasonshowsnav-fall_2022_ready_to_wear-academy_of_art_university,academy_of_art_university,2022,fw
2022fw_brand_list.json.A,runway-seasonshowsnav-fall_2022_ready_to_wear-acne_studios,acne_studios,2022,fw
2022fw_brand_list.json.A,runway-seasonshowsnav-fall_2022_ready_to_wear-adam_lippes,adam_lippes,2022,fw
...,...,...,...,...
2023fw_brand_list.json.Z,runway-seasonshowsnav-fall_2023_ready_to_wear-zimmermann,zimmermann,2023,fw
2023fw_brand_list.json.Z,runway-seasonshowsnav-fall_2023_ready_to_wear-zuhair_murad,zuhair_murad,2023,fw
2023fw_brand_list.json.#,runway-seasonshowsnav-fall_2023_ready_to_wear-16_arlington,16_arlington,2023,fw
2023fw_brand_list.json.#,runway-seasonshowsnav-fall_2023_ready_to_wear-3_1_phillip_lim,3_1_phillip_lim,2023,fw
2023fw_brand_list.json.#,runway-seasonshowsnav-fall_2023_ready_to_wear-6397,6397,2023,fw

In [48]:
crawling_df3.to_csv('crwalinglist.csv', sep=',', index=False)

#### 테이블부터 생성

In [49]:
import sqlite3

conn= sqlite3.connect('../../../code/QuQu-backend/db.sqlite3')
cur = conn.cursor()

In [50]:
conn.execute('drop table IF EXISTS ququ_attributes')
conn.execute('drop table IF EXISTS ququ_brand')
conn.execute('drop table IF EXISTS ququ_category')
conn.execute('drop table IF EXISTS ququ_common_attributes')
conn.execute('drop table IF EXISTS ququ_hue')
conn.execute('drop table IF EXISTS ququ_tone')
conn.execute('drop table IF EXISTS ququ_attributes')
conn.execute('drop table IF EXISTS ququ_vogue')
conn.execute('drop table IF EXISTS ququ_cat_attr')
conn.execute('drop table IF EXISTS ququ_cat_attr_encoding')
conn.commit()

In [51]:
conn.execute('''CREATE TABLE "ququ_attributes" (
"index" INTEGER primary key AUTOINCREMENT,
"id" INTEGER,
  "name" TEXT
)''')

conn.execute('''CREATE TABLE "ququ_brand" (
"index" INTEGER primary key AUTOINCREMENT,
  "brands" TEXT,
  "year" INTEGER,
  "season" TEXT,
    "image" TEXT
)''')

conn.execute('''CREATE TABLE "ququ_category" (
"index" INTEGER primary key AUTOINCREMENT,"id" INTEGER,
  "name" TEXT
)''')

conn.execute('''CREATE TABLE "ququ_common_attributes" (
"index" INTEGER primary key AUTOINCREMENT,"year" INTEGER,
  "season" TEXT,
  "attributes" TEXT
)''')

conn.execute('''CREATE TABLE "ququ_hue" (
"index" INTEGER primary key AUTOINCREMENT,"hue_cluster" INTEGER,
  "top_index" TEXT,
  "year" TEXT,
  "season" TEXT
)''')


conn.execute('''CREATE TABLE "ququ_tone" (
"index" INTEGER primary key AUTOINCREMENT,"tone_cluster" INTEGER,
  "top_index" TEXT,
    "year" TEXT,
  "season" TEXT
)''')

conn.execute('''CREATE TABLE "ququ_vogue" (
"index" INTEGER primary key AUTOINCREMENT,"image" TEXT,
  "category" INTEGER,
  "attributes" TEXT,
  "year" INTEGER,
  "season" TEXT,
  "brand" TEXT
)''')

conn.execute('''CREATE TABLE "ququ_cat_attr" (
"index" INTEGER primary key AUTOINCREMENT,
  "category" INTEGER,
  "attribute" TEXT,
  "year" INTEGER,
  "season" TEXT
)''')
conn.commit()

##### brandlist를 csv형태로 정제

In [52]:
file_name = 'brandlist.json'

In [53]:
with open(file_name, 'r', encoding='utf-8') as f:
        j = json.load(f)
        df = pd.json_normalize(j)

In [54]:
print(df.T)
brand_df = df.T

                                                  0
2022fw_brand_list.json.A                 AZ Factory
2022fw_brand_list.json.B                   Burberry
2022fw_brand_list.json.C                  Cult Gaia
2022fw_brand_list.json.D                 Duro Olowu
2022fw_brand_list.json.E                      Eytys
...                                             ...
2023fw_brand_list.json.V                     VTMNTS
2023fw_brand_list.json.W  Willie Norris for Outlier
2023fw_brand_list.json.Y                 Yuhan Wang
2023fw_brand_list.json.Z               Zuhair Murad
2023fw_brand_list.json.#                       6397

[75 rows x 1 columns]

In [55]:
brand_df

                                                  0
2022fw_brand_list.json.A                 AZ Factory
2022fw_brand_list.json.B                   Burberry
2022fw_brand_list.json.C                  Cult Gaia
2022fw_brand_list.json.D                 Duro Olowu
2022fw_brand_list.json.E                      Eytys
...                                             ...
2023fw_brand_list.json.V                     VTMNTS
2023fw_brand_list.json.W  Willie Norris for Outlier
2023fw_brand_list.json.Y                 Yuhan Wang
2023fw_brand_list.json.Z               Zuhair Murad
2023fw_brand_list.json.#                       6397

[75 rows x 1 columns]

In [56]:
# brand_df.insert(loc=0, column='YEAR', value=1)
# brand_df.columns = ['ysa', 'brands']
brand_df.index #인덱스 불러오기

ys_info= brand_df.index.str
ys = ys_info.split('_').str[0]
alphabet = ys_info.split('\.').str[-1]
year = ys.str.extract(r'(\d+)')[0]
season = ys.str.extract(r'([a-z]+)')[0]

# brand_df.insert(loc=0, column='year', value=[year])
# brand_df.insert(loc=1, column='season', value=season)

# df.T.columns = ["Sequence", "Start", "End", "Coverage"]

In [57]:
# brand_df['alphabet'] = alphabet.tolist()
brand_df['year'] = year.tolist()
brand_df['season'] = season.tolist()

brand_df.columns = ['brands', 'year', 'season']

In [58]:

brand_df

                                             brands  year season
2022fw_brand_list.json.A                 AZ Factory  2022     fw
2022fw_brand_list.json.B                   Burberry  2022     fw
2022fw_brand_list.json.C                  Cult Gaia  2022     fw
2022fw_brand_list.json.D                 Duro Olowu  2022     fw
2022fw_brand_list.json.E                      Eytys  2022     fw
...                                             ...   ...    ...
2023fw_brand_list.json.V                     VTMNTS  2023     fw
2023fw_brand_list.json.W  Willie Norris for Outlier  2023     fw
2023fw_brand_list.json.Y                 Yuhan Wang  2023     fw
2023fw_brand_list.json.Z               Zuhair Murad  2023     fw
2023fw_brand_list.json.#                       6397  2023     fw

[75 rows x 3 columns]

In [59]:
# brand_df.insert(0, 'id', range(1, 1 + len(brand_df)))

In [60]:
brand_df

                                             brands  year season
2022fw_brand_list.json.A                 AZ Factory  2022     fw
2022fw_brand_list.json.B                   Burberry  2022     fw
2022fw_brand_list.json.C                  Cult Gaia  2022     fw
2022fw_brand_list.json.D                 Duro Olowu  2022     fw
2022fw_brand_list.json.E                      Eytys  2022     fw
...                                             ...   ...    ...
2023fw_brand_list.json.V                     VTMNTS  2023     fw
2023fw_brand_list.json.W  Willie Norris for Outlier  2023     fw
2023fw_brand_list.json.Y                 Yuhan Wang  2023     fw
2023fw_brand_list.json.Z               Zuhair Murad  2023     fw
2023fw_brand_list.json.#                       6397  2023     fw

[75 rows x 3 columns]

In [61]:
brand_df
brand_df.to_csv('brandlist.csv', sep=',', index=False)

table_name_pre = 'ququ_'
table_name = 'brand'
data = pd.read_csv(table_name+'list.csv')

# print(data)

for row in data.itertuples():
    sql = "insert into "+ table_name_pre+table_name+"("+','.join(data.columns.values)+") values ( "+ ','.join('?'*len(data.columns.values)) + ")"
    arr = [];
    for index, value in enumerate(row):
        if index == 0:
            continue
        arr.append(row[index])
    cur.execute(sql, arr)
conn.commit()
#     cur.execute(sql, row)
# print(sql)

In [62]:
!pwd

/Users/misun/Documents/graduate/virtual/QuQu/code

##### SQLite3에 넣는 함수

In [63]:
conn

In [64]:
def import_csv_to_sqlite3(filename, table):
    df = pd.read_csv(filename)
    df.to_sql(table, conn, if_exists='replace', index=False)

In [65]:
# import_csv_to_sqlite3('brandlist.csv', 'ququ_brand')

##### common attribute 넣기

In [66]:
common_attribute = ['asymmetrical', 'straight', 'tight (fit)', 'regular (fit)', 'loose (fit)', 'oversized', 'high waist', 'normal waist', 'no waistline', 'above-the-hip (length)', 'hip (length)', 'micro (length)', 'mini (length)', 'above-the-knee (length)', 'knee (length)', 'below the knee (length)', 'midi', 'maxi (length)', 'floor (length)', 'wrist-length', 'single breasted', 'wrapping', 'zip-up', 'fly (opening)', 'no opening', 'plastic', 'fur', 'washed', 'printed', 'gathering', 'lining', 'applique(a)', 'abstract', 'check', 'floral', 'stripe', 'crop (top)']

In [67]:
year = 2022
season = 'ss'
common_attribute = '|'.join(common_attribute)

In [68]:



df = pd.DataFrame([[year, season, common_attribute]], columns=['year', 'season', 'attributes'])

In [70]:
df.head()

,year,season,attributes
0,2022,ss,asymmetrical|straight|tight (fit)|regular (fit)|loose (fit)|oversized|high waist|normal waist|no waistline|above-the-hip (length)|hip (length)|micro (length)|mini (length)|above-the-knee (length)|knee (length)|below the knee (length)|midi|maxi (length)|floor (length)|wrist-length|single breasted|wrapping|zip-up|fly (opening)|no opening|plastic|fur|washed|printed|gathering|lining|applique(a)|abstract|check|floral|stripe|crop (top)

In [71]:
df.to_csv('common_attributes.csv', sep=',', index=False)
table_name_pre = 'ququ_'
table_name = 'common_attributes'
data = pd.read_csv(table_name+'.csv')

# print(data)

for row in data.itertuples():
    sql = "insert into "+ table_name_pre+table_name+"("+','.join(data.columns.values)+") values ( "+ ','.join('?'*len(data.columns.values)) + ")"
    arr = [];
    for index, value in enumerate(row):
        if index == 0:
            continue
        arr.append(row[index])
    cur.execute(sql, arr)
conn.commit()

##### hue 넣기

In [72]:
filename='top20_hue_10.csv'

In [73]:
df_hue = pd.read_csv(filename)
range(20)

df_hue2 = df_hue.drop(df_hue.columns[0],axis=1)




df_hue3 = df_hue2[df_hue2.columns[1:]].apply(
    lambda x: '|'.join(x),
    axis=1
)
df_hue4 = df_hue.drop(df_hue.columns[1:],axis=1)
df_hue4['top_index'] = df_hue3
df_hue4.columns = ['hue_cluster', 'top_index']
df_hue4['year'] = 2022
df_hue4['season'] = 'ss'

In [74]:
df_hue4

,hue_cluster,top_index,year,season
0,0,S_22_meryll-rogge_8.jpg|S_22_tod-s_17.jpg|S_22_beatrice-b_21.jpg|S_22_emporio-armani_120.jpg|S_22_az-factory_58.jpg|S_22_christopher-kane_26.jpg|S_22_kim-shui_33.jpg|S_22_hugo-boss_17.jpg|S_22_gypsy-sport_37.jpg|S_22_chocheng_12.jpg|S_22_givenchy_55.jpg|S_22_kim-shui_29.jpg|S_22_undercover_4.jpg|S_22_ferrari_26.jpg|S_22_coach_23.jpg|S_22_naeem-khan_9.jpg|S_22_rue-agthonis_14.jpg|S_22_supriya-lele_6.jpg|S_22_rachel-comey_33.jpg,2022,ss
1,1,S_22_kim-shui_1.jpg|S_22_mark-fast_4.jpg|S_22_louis-vuitton_13.jpg|S_22_dipesta_14.jpg|S_22_theophilio_7.jpg|S_22_louis-vuitton_50.jpg|S_22_christian-dior_76.jpg|S_22_erl_17.jpg|S_22_a-w-a-k-e_28.jpg|S_22_peter-do_33.jpg|S_22_balmain_76.jpg|S_22_yeohlee_11.jpg|S_22_natasha-zinko_16.jpg|S_22_vera-wang_22.jpg|S_22_sacai_8.jpg|S_22_raf-simons_11.jpg|S_22_vaquera_26.jpg|S_22_ferrari_9.jpg|S_22_hodakova_16.jpg,2022,ss
2,2,S_22_koche_16.jpg|S_22_undercover_7.jpg|S_22_hodakova_22.jpg|S_22_nanushka_13.jpg|S_22_marni_5.jpg|S_22_sukeina_24.jpg|S_22_k-krizia_8.jpg|S_22_comme-des-garcons_20.jpg|S_22_lrs_15.jpg|S_22_simone-rocha_40.jpg|S_22_snow-xue-gao_14.jpg|S_22_andrea-pompilio_37.jpg|S_22_bottega-veneta_10.jpg|S_22_tibi_14.jpg|S_22_monique-lhuillier_20.jpg|S_22_amiri_5.jpg|S_22_lauren-manoogian_13.jpg|S_22_lrs_21.jpg|S_22_zimmermann_30.jpg,2022,ss
3,3,S_22_ami_28.jpg|S_22_rosetta-getty_14.jpg|S_22_givenchy_20.jpg|S_22_khaite_5.jpg|S_22_charles-jeffrey-loverboy_11.jpg|S_22_rentrayage_13.jpg|S_22_windsor_11.jpg|S_22_paria-farzaneh_6.jpg|S_22_gucci_35.jpg|S_22_coach_10.jpg|S_22_snow-xue-gao_9.jpg|S_22_edward-crutchley_9.jpg|S_22_gypsy-sport_1.jpg|S_22_reese-cooper_28.jpg|S_22_loro-piana_6.jpg|S_22_undercover_38.jpg|S_22_sacai_14.jpg|S_22_dolce-gabbana_85.jpg|S_22_reese-cooper_20.jpg,2022,ss
4,4,S_22_private-policy_2.jpg|S_22_oscar-de-la-renta_29.jpg|S_22_tibi_9.jpg|S_22_kim-shui_18.jpg|S_22_vetements_86.jpg|S_22_rachel-comey_9.jpg|S_22_priscavera_5.jpg|S_22_vivienne-westwood_54.jpg|S_22_vera-wang_27.jpg|S_22_brunello-cucinelli_14.jpg|S_22_lauren-manoogian_31.jpg|S_22_marni_43.jpg|S_22_antonio-marras_9.jpg|S_22_nili-lotan_4.jpg|S_22_vetements_81.jpg|S_22_sea_15.jpg|S_22_thom-browne_16.jpg|S_22_a-l-c_19.jpg|S_22_zimmermann_34.jpg,2022,ss
5,5,S_22_gucci_114.jpg|S_22_tommy-hilfiger_19.jpg|S_22_our-legacy_57.jpg|S_22_molly-goddard_27.jpg|S_22_reese-cooper_21.jpg|S_22_burberry-prorsum_31.jpg|S_22_windsor_12.jpg|S_22_batsheva_28.jpg|S_22_palmerharding_11.jpg|S_22_preen-by-thornton-bregazzi_4.jpg|S_22_lee-mathews_4.jpg|S_22_hugo-boss_25.jpg|S_22_antonio-marras_2.jpg|S_22_charlotte-knowles_26.jpg|S_22_marni_38.jpg|S_22_gucci_9.jpg|S_22_christian-dior_6.jpg|S_22_puppets-and-puppets_2.jpg|S_22_coach_15.jpg,2022,ss
6,6,S_22_colville_8.jpg|S_22_dolce-gabbana_59.jpg|S_22_theophilio_15.jpg|S_22_undercover_11.jpg|S_22_chocheng_19.jpg|S_22_christopher-kane_16.jpg|S_22_kwaidan-editions_24.jpg|S_22_gucci_104.jpg|S_22_gypsy-sport_35.jpg|S_22_autumn-adeigbo_27.jpg|S_22_shang-xia_6.jpg|S_22_christian-siriano_4.jpg|S_22_sc103_30.jpg|S_22_atlein_7.jpg|S_22_richard-quinn_25.jpg|S_22_plan-c_27.jpg|S_22_andreas-kronthaler-for-vivienne-westwood_44.jpg|S_22_marques-almeida_13.jpg|S_22_maison-rabih-kayrouz_6.jpg,2022,ss
7,7,S_22_david-koma_23.jpg|S_22_saint-laurent_14.jpg|S_22_thebe-magugu_4.jpg|S_22_kenneth-ize_21.jpg|S_22_collina-strada_33.jpg|S_22_coach_51.jpg|S_22_andrea-pompilio_41.jpg|S_22_lanvin_1.jpg|S_22_wolk-morais_6.jpg|S_22_paul-joe_31.jpg|S_22_luisa-beccaria_15.jpg|S_22_christian-dior_41.jpg|S_22_emporio-armani_119.jpg|S_22_christian-dior_60.jpg|S_22_yeohlee_9.jpg|S_22_lanvin_19.jpg|S_22_prune-goldschmidt_29.jpg|S_22_diesel_79.jpg|S_22_prabal-gurung_42.jpg,2022,ss
8,8,S_22_natasha-zinko_7.jpg|S_22_luisa-beccaria_13.jpg|S_22_opening-ceremony_5.jpg|S_22_maryam-nassir-zadeh_15.jpg|S_22_j-w-anderson_8.jpg|S_22_rentrayage_12.jpg|S_22_norma-kamali_12.jpg|S_22_laquan-smith_15.jpg|S_22_thebe-magugu_5.jpg|S_22_valentino_67.jpg|S_22_erl_23.jpg|S_22_marni_58.jpg|S_22_st-john_6.jpg|S_22_valentino_3.jpg|S_22_valentino_71.jpg|S_22_piazza-sempione_1.jpg|S_22_cdlm_23.jpg|S_22_puppets-and-puppets_3.jpg|S_22_matty-bovan_22.jpg,2022,ss
9,9,S_22_sunnei_41.jpg|S_22_colville_26.jpg|S_22_andrea-pompilio_29.jpg|S_22_erl_37.jpg|S_22_andrea-pompilio_16.jpg|S_22_lanvin_23.jpg|S_22_maisie-wilen_12.jpg|S_22_lanvin_16.jpg|S_22_marques-almeida_51.jpg|S_22_vetements_1.jpg|S_22_dipesta_6.jpg|S_22_marni_20.jpg|S_22_lanvin_11.jpg|S_22_gabriela-hearst_5.jpg|S_22_marques-almeida_63.jpg|S_22_dipesta_17.jpg|S_22_osman_1.jpg|S_22_louis-vuitton_14.jpg|S_22_diesel_76.jpg,2022,ss

In [75]:
df_hue4.to_csv('hue.csv', sep=',', index=False)
table_name_pre = 'ququ_'
table_name = 'hue'
data = pd.read_csv(table_name+'.csv')

# print(data)

for row in data.itertuples():
    sql = "insert into "+ table_name_pre+table_name+"("+','.join(data.columns.values)+") values ( "+ ','.join('?'*len(data.columns.values)) + ")"
    arr = [];
    for index, value in enumerate(row):
        if index == 0:
            continue
        arr.append(row[index])
    cur.execute(sql, arr)
conn.commit()

In [76]:
df_hue4
pd.read_csv('hue.csv')
# import_csv_to_sqlite3('hue.csv', 'ququ_hue')

,hue_cluster,top_index,year,season
0,0,S_22_meryll-rogge_8.jpg|S_22_tod-s_17.jpg|S_22_beatrice-b_21.jpg|S_22_emporio-armani_120.jpg|S_22_az-factory_58.jpg|S_22_christopher-kane_26.jpg|S_22_kim-shui_33.jpg|S_22_hugo-boss_17.jpg|S_22_gypsy-sport_37.jpg|S_22_chocheng_12.jpg|S_22_givenchy_55.jpg|S_22_kim-shui_29.jpg|S_22_undercover_4.jpg|S_22_ferrari_26.jpg|S_22_coach_23.jpg|S_22_naeem-khan_9.jpg|S_22_rue-agthonis_14.jpg|S_22_supriya-lele_6.jpg|S_22_rachel-comey_33.jpg,2022,ss
1,1,S_22_kim-shui_1.jpg|S_22_mark-fast_4.jpg|S_22_louis-vuitton_13.jpg|S_22_dipesta_14.jpg|S_22_theophilio_7.jpg|S_22_louis-vuitton_50.jpg|S_22_christian-dior_76.jpg|S_22_erl_17.jpg|S_22_a-w-a-k-e_28.jpg|S_22_peter-do_33.jpg|S_22_balmain_76.jpg|S_22_yeohlee_11.jpg|S_22_natasha-zinko_16.jpg|S_22_vera-wang_22.jpg|S_22_sacai_8.jpg|S_22_raf-simons_11.jpg|S_22_vaquera_26.jpg|S_22_ferrari_9.jpg|S_22_hodakova_16.jpg,2022,ss
2,2,S_22_koche_16.jpg|S_22_undercover_7.jpg|S_22_hodakova_22.jpg|S_22_nanushka_13.jpg|S_22_marni_5.jpg|S_22_sukeina_24.jpg|S_22_k-krizia_8.jpg|S_22_comme-des-garcons_20.jpg|S_22_lrs_15.jpg|S_22_simone-rocha_40.jpg|S_22_snow-xue-gao_14.jpg|S_22_andrea-pompilio_37.jpg|S_22_bottega-veneta_10.jpg|S_22_tibi_14.jpg|S_22_monique-lhuillier_20.jpg|S_22_amiri_5.jpg|S_22_lauren-manoogian_13.jpg|S_22_lrs_21.jpg|S_22_zimmermann_30.jpg,2022,ss
3,3,S_22_ami_28.jpg|S_22_rosetta-getty_14.jpg|S_22_givenchy_20.jpg|S_22_khaite_5.jpg|S_22_charles-jeffrey-loverboy_11.jpg|S_22_rentrayage_13.jpg|S_22_windsor_11.jpg|S_22_paria-farzaneh_6.jpg|S_22_gucci_35.jpg|S_22_coach_10.jpg|S_22_snow-xue-gao_9.jpg|S_22_edward-crutchley_9.jpg|S_22_gypsy-sport_1.jpg|S_22_reese-cooper_28.jpg|S_22_loro-piana_6.jpg|S_22_undercover_38.jpg|S_22_sacai_14.jpg|S_22_dolce-gabbana_85.jpg|S_22_reese-cooper_20.jpg,2022,ss
4,4,S_22_private-policy_2.jpg|S_22_oscar-de-la-renta_29.jpg|S_22_tibi_9.jpg|S_22_kim-shui_18.jpg|S_22_vetements_86.jpg|S_22_rachel-comey_9.jpg|S_22_priscavera_5.jpg|S_22_vivienne-westwood_54.jpg|S_22_vera-wang_27.jpg|S_22_brunello-cucinelli_14.jpg|S_22_lauren-manoogian_31.jpg|S_22_marni_43.jpg|S_22_antonio-marras_9.jpg|S_22_nili-lotan_4.jpg|S_22_vetements_81.jpg|S_22_sea_15.jpg|S_22_thom-browne_16.jpg|S_22_a-l-c_19.jpg|S_22_zimmermann_34.jpg,2022,ss
5,5,S_22_gucci_114.jpg|S_22_tommy-hilfiger_19.jpg|S_22_our-legacy_57.jpg|S_22_molly-goddard_27.jpg|S_22_reese-cooper_21.jpg|S_22_burberry-prorsum_31.jpg|S_22_windsor_12.jpg|S_22_batsheva_28.jpg|S_22_palmerharding_11.jpg|S_22_preen-by-thornton-bregazzi_4.jpg|S_22_lee-mathews_4.jpg|S_22_hugo-boss_25.jpg|S_22_antonio-marras_2.jpg|S_22_charlotte-knowles_26.jpg|S_22_marni_38.jpg|S_22_gucci_9.jpg|S_22_christian-dior_6.jpg|S_22_puppets-and-puppets_2.jpg|S_22_coach_15.jpg,2022,ss
6,6,S_22_colville_8.jpg|S_22_dolce-gabbana_59.jpg|S_22_theophilio_15.jpg|S_22_undercover_11.jpg|S_22_chocheng_19.jpg|S_22_christopher-kane_16.jpg|S_22_kwaidan-editions_24.jpg|S_22_gucci_104.jpg|S_22_gypsy-sport_35.jpg|S_22_autumn-adeigbo_27.jpg|S_22_shang-xia_6.jpg|S_22_christian-siriano_4.jpg|S_22_sc103_30.jpg|S_22_atlein_7.jpg|S_22_richard-quinn_25.jpg|S_22_plan-c_27.jpg|S_22_andreas-kronthaler-for-vivienne-westwood_44.jpg|S_22_marques-almeida_13.jpg|S_22_maison-rabih-kayrouz_6.jpg,2022,ss
7,7,S_22_david-koma_23.jpg|S_22_saint-laurent_14.jpg|S_22_thebe-magugu_4.jpg|S_22_kenneth-ize_21.jpg|S_22_collina-strada_33.jpg|S_22_coach_51.jpg|S_22_andrea-pompilio_41.jpg|S_22_lanvin_1.jpg|S_22_wolk-morais_6.jpg|S_22_paul-joe_31.jpg|S_22_luisa-beccaria_15.jpg|S_22_christian-dior_41.jpg|S_22_emporio-armani_119.jpg|S_22_christian-dior_60.jpg|S_22_yeohlee_9.jpg|S_22_lanvin_19.jpg|S_22_prune-goldschmidt_29.jpg|S_22_diesel_79.jpg|S_22_prabal-gurung_42.jpg,2022,ss
8,8,S_22_natasha-zinko_7.jpg|S_22_luisa-beccaria_13.jpg|S_22_opening-ceremony_5.jpg|S_22_maryam-nassir-zadeh_15.jpg|S_22_j-w-anderson_8.jpg|S_22_rentrayage_12.jpg|S_22_norma-kamali_12.jpg|S_22_laquan-smith_15.jpg|S_22_thebe-magugu_5.jpg|S_22_valentino_67.jpg|S_22_erl_23.jpg|S_22_marni_58.jpg|S_22_st-john_6.jpg|S_22_valentino_3.jpg|S_22_valentino_71.jpg|S_22_piazza-sempione_1.jpg|S_22_cdlm_23.jpg|S_22_puppets-and-puppets_3.jpg|S_22_matty-bovan_22.jpg,2022,ss
9,9,S_22_sunnei_41.jpg|S_22_colville_26.jpg|S_22_andrea-pompilio_29.jpg|S_22_erl_37.jpg|S_22_andrea-pompilio_16.jpg|S_22_lanvin_23.jpg|S_22_maisie-wilen_12.jpg|S_22_lanvin_16.jpg|S_22_marques-almeida_51.jpg|S_22_vetements_1.jpg|S_22_dipesta_6.jpg|S_22_marni_20.jpg|S_22_lanvin_11.jpg|S_22_gabriela-hearst_5.jpg|S_22_marques-almeida_63.jpg|S_22_dipesta_17.jpg|S_22_osman_1.jpg|S_22_louis-vuitton_14.jpg|S_22_diesel_76.jpg,2022,ss

In [77]:
pd.read_csv('common_attributes.csv')

,year,season,attributes
0,2022,ss,asymmetrical|straight|tight (fit)|regular (fit)|loose (fit)|oversized|high waist|normal waist|no waistline|above-the-hip (length)|hip (length)|micro (length)|mini (length)|above-the-knee (length)|knee (length)|below the knee (length)|midi|maxi (length)|floor (length)|wrist-length|single breasted|wrapping|zip-up|fly (opening)|no opening|plastic|fur|washed|printed|gathering|lining|applique(a)|abstract|check|floral|stripe|crop (top)

In [78]:
# import_csv_to_sqlite3('common_attributes.csv','ququ_common_attributes')

### tone 넣기

In [79]:
filename='top20_tone_10.csv'

In [80]:
df_tone = pd.read_csv(filename)
range(20)

df_tone2 = df_tone.drop(df_tone.columns[0],axis=1)




df_tone3 = df_tone2[df_tone2.columns[1:]].apply(
    lambda x: '|'.join(x),
    axis=1
)
df_tone4 = df_tone.drop(df_tone.columns[1:],axis=1)


df_tone4['top_index'] = df_tone3
df_tone4.columns = ['tone_cluster', 'top_index']
df_tone4['year'] = 2022
df_tone4['season'] = 'ss'
# df_hue5 = pd.concat([df_hue4, df_hue3], axis=1, join='inner')
# df_hue5.columns = ['hue_cluster', 'top_index']
# df_hue.columns = ['idx', np.repeat(0,20, axis=0)]
# df_hue.drop('idx', inplace=True, axis=1)

# df_hue5['top_index'].tolist()

# df_hue['top_index'] = df_hue.agg(','.join, axis=1)

# df_hue.columns = ['brands', 'alphabet', 'year', 'season']

In [81]:
df_tone4

,tone_cluster,top_index,year,season
0,0,S_22_puppets-and-puppets_27.jpg|S_22_marni_25.jpg|S_22_thebe-magugu_18.jpg|S_22_saint-laurent_59.jpg|S_22_chocheng_18.jpg|S_22_dolce-gabbana_59.jpg|S_22_tom-ford_2.jpg|S_22_botter_22.jpg|S_22_theophilio_15.jpg|S_22_ami_21.jpg|S_22_sharon-wauchob_16.jpg|S_22_undercover_11.jpg|S_22_roksanda_44.jpg|S_22_calvin-luo_16.jpg|S_22_meryll-rogge_8.jpg|S_22_autumn-adeigbo_31.jpg|S_22_tom-ford_1.jpg|S_22_paco-rabanne_21.jpg|S_22_tod-s_17.jpg,2022,ss
1,1,S_22_erl_37.jpg|S_22_andrea-pompilio_16.jpg|S_22_kim-shui_1.jpg|S_22_mark-fast_4.jpg|S_22_lanvin_23.jpg|S_22_maisie-wilen_12.jpg|S_22_louis-vuitton_13.jpg|S_22_dipesta_14.jpg|S_22_vetements_1.jpg|S_22_dipesta_6.jpg|S_22_theophilio_7.jpg|S_22_marques-almeida_63.jpg|S_22_louis-vuitton_50.jpg|S_22_dipesta_17.jpg|S_22_osman_1.jpg|S_22_christian-dior_76.jpg|S_22_diesel_76.jpg|S_22_louis-vuitton_5.jpg|S_22_erl_17.jpg,2022,ss
2,2,S_22_natasha-zinko_7.jpg|S_22_luisa-beccaria_13.jpg|S_22_opening-ceremony_5.jpg|S_22_nehera_9.jpg|S_22_maryam-nassir-zadeh_15.jpg|S_22_koche_16.jpg|S_22_undercover_7.jpg|S_22_rentrayage_12.jpg|S_22_norma-kamali_12.jpg|S_22_thebe-magugu_5.jpg|S_22_valentino_3.jpg|S_22_valentino_71.jpg|S_22_piazza-sempione_1.jpg|S_22_cdlm_23.jpg|S_22_marni_57.jpg|S_22_andrea-pompilio_19.jpg|S_22_ferrari_21.jpg|S_22_dundas_8.jpg|S_22_osman_19.jpg,2022,ss
3,3,S_22_alejandra-alonso-rojas_22.jpg|S_22_dolce-gabbana_77.jpg|S_22_gucci_33.jpg|S_22_patou_17.jpg|S_22_charlotte-knowles_8.jpg|S_22_ports-1961_18.jpg|S_22_priscavera_19.jpg|S_22_andrea-pompilio_28.jpg|S_22_prabal-gurung_41.jpg|S_22_johanna-ortiz_40.jpg|S_22_philipp-plein_17.jpg|S_22_gucci_69.jpg|S_22_koche_31.jpg|S_22_dolce-gabbana_45.jpg|S_22_vetements_111.jpg|S_22_marques-almeida_48.jpg|S_22_no-21_23.jpg|S_22_undercover_23.jpg|S_22_talia-byre_12.jpg,2022,ss
4,4,S_22_collina-strada_27.jpg|S_22_arthur-arbesser_11.jpg|S_22_tibi_17.jpg|S_22_erl_36.jpg|S_22_gucci_114.jpg|S_22_raf-simons_29.jpg|S_22_moschino_43.jpg|S_22_a-w-a-k-e_16.jpg|S_22_raf-simons_37.jpg|S_22_tommy-hilfiger_19.jpg|S_22_our-legacy_57.jpg|S_22_molly-goddard_27.jpg|S_22_roksanda_29.jpg|S_22_meryll-rogge_2.jpg|S_22_reese-cooper_21.jpg|S_22_a-w-a-k-e_52.jpg|S_22_burberry-prorsum_31.jpg|S_22_windsor_12.jpg|S_22_lanvin_54.jpg,2022,ss
5,5,S_22_yeohlee_9.jpg|S_22_lanvin_19.jpg|S_22_prune-goldschmidt_29.jpg|S_22_prabal-gurung_42.jpg|S_22_gypsy-sport_24.jpg|S_22_balenciaga_31.jpg|S_22_lanvin_50.jpg|S_22_mark-fast_44.jpg|S_22_kiko-kostadinov_6.jpg|S_22_studio-189_27.jpg|S_22_puppets-and-puppets_31.jpg|S_22_studio-189_7.jpg|S_22_lanvin_16.jpg|S_22_marques-almeida_51.jpg|S_22_laquan-smith_15.jpg|S_22_giorgio-armani_12.jpg|S_22_talia-byre_8.jpg|S_22_gypsy-sport_34.jpg|S_22_valentino_67.jpg,2022,ss
6,6,S_22_charlotte-knowles_10.jpg|S_22_sc103_4.jpg|S_22_christopher-kane_19.jpg|S_22_jil-sander_36.jpg|S_22_max-mara_12.jpg|S_22_prabal-gurung_13.jpg|S_22_gypsy-sport_4.jpg|S_22_duro-olowu_9.jpg|S_22_charlotte-knowles_4.jpg|S_22_autumn-adeigbo_27.jpg|S_22_miu-miu_31.jpg|S_22_edeline-lee_12.jpg|S_22_schiaparelli_21.jpg|S_22_fabiana-filippi_36.jpg|S_22_moncler-dingyun-zhang_1.jpg|S_22_la-doublej_11.jpg|S_22_az-factory_7.jpg|S_22_david-koma_6.jpg|S_22_y-project_3.jpg,2022,ss
7,7,S_22_private-policy_2.jpg|S_22_oscar-de-la-renta_29.jpg|S_22_tibi_9.jpg|S_22_kim-shui_18.jpg|S_22_vetements_86.jpg|S_22_rachel-comey_9.jpg|S_22_priscavera_5.jpg|S_22_vivienne-westwood_54.jpg|S_22_alejandra-alonso-rojas_4.jpg|S_22_vera-wang_27.jpg|S_22_brunello-cucinelli_14.jpg|S_22_olivier-theyskens_19.jpg|S_22_lauren-manoogian_31.jpg|S_22_marni_43.jpg|S_22_antonio-marras_9.jpg|S_22_nili-lotan_4.jpg|S_22_vetements_81.jpg|S_22_sea_15.jpg|S_22_az-factory_19.jpg,2022,ss
8,8,S_22_david-koma_23.jpg|S_22_andrea-pompilio_1.jpg|S_22_saint-laurent_14.jpg|S_22_thebe-magugu_4.jpg|S_22_kenneth-ize_21.jpg|S_22_colville_26.jpg|S_22_collina-strada_33.jpg|S_22_andrea-pompilio_29.jpg|S_22_j-w-anderson_8.jpg|S_22_andrea-pompilio_41.jpg|S_22_lanvin_1.jpg|S_22_wolk-morais_6.jpg|S_22_paul-joe_31.jpg|S_22_luisa-beccaria_15.jpg|S_22_diesel_79.jpg|S_22_gabriela-hearst_5.jpg|S_22_libertine_18.jpg|S_22_sc103_15.jpg|S_22_missoni_2.jpg,2022,ss
9,9,S_22_emporio-armani_119.jpg|S_22_issey-miyake_31.jpg|S_22_xulybet_14.jpg|S_22_threeasfour_25.jpg|S_22_lanvin_11.jpg|S_22_philosophy_28.jpg|S_22_colville_8.jpg|S_22_winnie_21.jpg|S_22_kwaidan-editions_28.jpg|S_22_alberta-ferretti_26.jpg|S_22_roberto-cavalli_10.jpg|S_22_gucci_37.jpg|S_22_wolk-morais_4.jpg|S_22_rta_24.jpg|S_22_marques-almeida_18.jpg|S_22_chocheng_19.jpg|S_22_chanel_45.jpg|S_22_valentin-yudashkin_11.jpg|S_22_andrea-pompilio_4.jpg,2022,ss

In [82]:
df_tone4.to_csv('tone.csv', sep=',', index=False)
table_name_pre = 'ququ_'
table_name = 'tone'
data = pd.read_csv(table_name+'.csv')

# print(data)

for row in data.itertuples():
    sql = "insert into "+ table_name_pre+table_name+"("+','.join(data.columns.values)+") values ( "+ ','.join('?'*len(data.columns.values)) + ")"
    arr = [];
    for index, value in enumerate(row):
        if index == 0:
            continue
        arr.append(row[index])
    cur.execute(sql, arr)
conn.commit()

In [83]:
pd.read_csv('tone.csv')

,tone_cluster,top_index,year,season
0,0,S_22_puppets-and-puppets_27.jpg|S_22_marni_25.jpg|S_22_thebe-magugu_18.jpg|S_22_saint-laurent_59.jpg|S_22_chocheng_18.jpg|S_22_dolce-gabbana_59.jpg|S_22_tom-ford_2.jpg|S_22_botter_22.jpg|S_22_theophilio_15.jpg|S_22_ami_21.jpg|S_22_sharon-wauchob_16.jpg|S_22_undercover_11.jpg|S_22_roksanda_44.jpg|S_22_calvin-luo_16.jpg|S_22_meryll-rogge_8.jpg|S_22_autumn-adeigbo_31.jpg|S_22_tom-ford_1.jpg|S_22_paco-rabanne_21.jpg|S_22_tod-s_17.jpg,2022,ss
1,1,S_22_erl_37.jpg|S_22_andrea-pompilio_16.jpg|S_22_kim-shui_1.jpg|S_22_mark-fast_4.jpg|S_22_lanvin_23.jpg|S_22_maisie-wilen_12.jpg|S_22_louis-vuitton_13.jpg|S_22_dipesta_14.jpg|S_22_vetements_1.jpg|S_22_dipesta_6.jpg|S_22_theophilio_7.jpg|S_22_marques-almeida_63.jpg|S_22_louis-vuitton_50.jpg|S_22_dipesta_17.jpg|S_22_osman_1.jpg|S_22_christian-dior_76.jpg|S_22_diesel_76.jpg|S_22_louis-vuitton_5.jpg|S_22_erl_17.jpg,2022,ss
2,2,S_22_natasha-zinko_7.jpg|S_22_luisa-beccaria_13.jpg|S_22_opening-ceremony_5.jpg|S_22_nehera_9.jpg|S_22_maryam-nassir-zadeh_15.jpg|S_22_koche_16.jpg|S_22_undercover_7.jpg|S_22_rentrayage_12.jpg|S_22_norma-kamali_12.jpg|S_22_thebe-magugu_5.jpg|S_22_valentino_3.jpg|S_22_valentino_71.jpg|S_22_piazza-sempione_1.jpg|S_22_cdlm_23.jpg|S_22_marni_57.jpg|S_22_andrea-pompilio_19.jpg|S_22_ferrari_21.jpg|S_22_dundas_8.jpg|S_22_osman_19.jpg,2022,ss
3,3,S_22_alejandra-alonso-rojas_22.jpg|S_22_dolce-gabbana_77.jpg|S_22_gucci_33.jpg|S_22_patou_17.jpg|S_22_charlotte-knowles_8.jpg|S_22_ports-1961_18.jpg|S_22_priscavera_19.jpg|S_22_andrea-pompilio_28.jpg|S_22_prabal-gurung_41.jpg|S_22_johanna-ortiz_40.jpg|S_22_philipp-plein_17.jpg|S_22_gucci_69.jpg|S_22_koche_31.jpg|S_22_dolce-gabbana_45.jpg|S_22_vetements_111.jpg|S_22_marques-almeida_48.jpg|S_22_no-21_23.jpg|S_22_undercover_23.jpg|S_22_talia-byre_12.jpg,2022,ss
4,4,S_22_collina-strada_27.jpg|S_22_arthur-arbesser_11.jpg|S_22_tibi_17.jpg|S_22_erl_36.jpg|S_22_gucci_114.jpg|S_22_raf-simons_29.jpg|S_22_moschino_43.jpg|S_22_a-w-a-k-e_16.jpg|S_22_raf-simons_37.jpg|S_22_tommy-hilfiger_19.jpg|S_22_our-legacy_57.jpg|S_22_molly-goddard_27.jpg|S_22_roksanda_29.jpg|S_22_meryll-rogge_2.jpg|S_22_reese-cooper_21.jpg|S_22_a-w-a-k-e_52.jpg|S_22_burberry-prorsum_31.jpg|S_22_windsor_12.jpg|S_22_lanvin_54.jpg,2022,ss
5,5,S_22_yeohlee_9.jpg|S_22_lanvin_19.jpg|S_22_prune-goldschmidt_29.jpg|S_22_prabal-gurung_42.jpg|S_22_gypsy-sport_24.jpg|S_22_balenciaga_31.jpg|S_22_lanvin_50.jpg|S_22_mark-fast_44.jpg|S_22_kiko-kostadinov_6.jpg|S_22_studio-189_27.jpg|S_22_puppets-and-puppets_31.jpg|S_22_studio-189_7.jpg|S_22_lanvin_16.jpg|S_22_marques-almeida_51.jpg|S_22_laquan-smith_15.jpg|S_22_giorgio-armani_12.jpg|S_22_talia-byre_8.jpg|S_22_gypsy-sport_34.jpg|S_22_valentino_67.jpg,2022,ss
6,6,S_22_charlotte-knowles_10.jpg|S_22_sc103_4.jpg|S_22_christopher-kane_19.jpg|S_22_jil-sander_36.jpg|S_22_max-mara_12.jpg|S_22_prabal-gurung_13.jpg|S_22_gypsy-sport_4.jpg|S_22_duro-olowu_9.jpg|S_22_charlotte-knowles_4.jpg|S_22_autumn-adeigbo_27.jpg|S_22_miu-miu_31.jpg|S_22_edeline-lee_12.jpg|S_22_schiaparelli_21.jpg|S_22_fabiana-filippi_36.jpg|S_22_moncler-dingyun-zhang_1.jpg|S_22_la-doublej_11.jpg|S_22_az-factory_7.jpg|S_22_david-koma_6.jpg|S_22_y-project_3.jpg,2022,ss
7,7,S_22_private-policy_2.jpg|S_22_oscar-de-la-renta_29.jpg|S_22_tibi_9.jpg|S_22_kim-shui_18.jpg|S_22_vetements_86.jpg|S_22_rachel-comey_9.jpg|S_22_priscavera_5.jpg|S_22_vivienne-westwood_54.jpg|S_22_alejandra-alonso-rojas_4.jpg|S_22_vera-wang_27.jpg|S_22_brunello-cucinelli_14.jpg|S_22_olivier-theyskens_19.jpg|S_22_lauren-manoogian_31.jpg|S_22_marni_43.jpg|S_22_antonio-marras_9.jpg|S_22_nili-lotan_4.jpg|S_22_vetements_81.jpg|S_22_sea_15.jpg|S_22_az-factory_19.jpg,2022,ss
8,8,S_22_david-koma_23.jpg|S_22_andrea-pompilio_1.jpg|S_22_saint-laurent_14.jpg|S_22_thebe-magugu_4.jpg|S_22_kenneth-ize_21.jpg|S_22_colville_26.jpg|S_22_collina-strada_33.jpg|S_22_andrea-pompilio_29.jpg|S_22_j-w-anderson_8.jpg|S_22_andrea-pompilio_41.jpg|S_22_lanvin_1.jpg|S_22_wolk-morais_6.jpg|S_22_paul-joe_31.jpg|S_22_luisa-beccaria_15.jpg|S_22_diesel_79.jpg|S_22_gabriela-hearst_5.jpg|S_22_libertine_18.jpg|S_22_sc103_15.jpg|S_22_missoni_2.jpg,2022,ss
9,9,S_22_emporio-armani_119.jpg|S_22_issey-miyake_31.jpg|S_22_xulybet_14.jpg|S_22_threeasfour_25.jpg|S_22_lanvin_11.jpg|S_22_philosophy_28.jpg|S_22_colville_8.jpg|S_22_winnie_21.jpg|S_22_kwaidan-editions_28.jpg|S_22_alberta-ferretti_26.jpg|S_22_roberto-cavalli_10.jpg|S_22_gucci_37.jpg|S_22_wolk-morais_4.jpg|S_22_rta_24.jpg|S_22_marques-almeida_18.jpg|S_22_chocheng_19.jpg|S_22_chanel_45.jpg|S_22_valentin-yudashkin_11.jpg|S_22_andrea-pompilio_4.jpg,2022,ss

In [84]:
# import_csv_to_sqlite3('tone.csv','ququ_tone')

##### category and attribute to json

In [85]:
file_name = 'cate_attr_info.json'

final_data = []
ids = []
# for file_name in file_names:
with open(file_name, 'r', encoding='utf-8') as f:
    data = json.load(f)

for index, arr in enumerate(data['categories']):
    final_data.append(arr['name'])
    ids.append(arr['id'])
       
ids

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45]

In [86]:
df_categories = pd.DataFrame()
df_categories['id'] = ids
df_categories['name'] = final_data

In [87]:
df_categories

    id                                     name
0    0                            shirt, blouse
1    1                 top, t-shirt, sweatshirt
2    2                                  sweater
3    3                                 cardigan
4    4                                   jacket
5    5                                     vest
6    6                                    pants
7    7                                   shorts
8    8                                    skirt
9    9                                     coat
10  10                                    dress
11  11                                 jumpsuit
12  12                                     cape
13  13                                  glasses
14  14                                      hat
15  15  headband, head covering, hair accessory
16  16                                      tie
17  17                                    glove
18  18                                    watch
19  19                                     belt
20  20                               leg warmer
21  21                        tights, stockings
22  22                                     sock
23  23                                     shoe
24  24                              bag, wallet
25  25                                    scarf
26  26                                 umbrella
27  27                                     hood
28  28                                   collar
29  29                                    lapel
30  30                                epaulette
31  31                                   sleeve
32  32                                   pocket
33  33                                 neckline
34  34                                   buckle
35  35                                   zipper
36  36                                 applique
37  37                                     bead
38  38                                      bow
39  39                                   flower
40  40                                   fringe
41  41                                   ribbon
42  42                                    rivet
43  43                                   ruffle
44  44                                   sequin
45  45                                   tassel

In [88]:
df_categories.to_csv('category.csv', sep=',', index=False)
table_name_pre = 'ququ_'
table_name = 'category'
data = pd.read_csv(table_name+'.csv')

# print(data)

for row in data.itertuples():
    sql = "insert into "+ table_name_pre+table_name+"("+','.join(data.columns.values)+") values ( "+ ','.join('?'*len(data.columns.values)) + ")"
    arr = [];
    for index, value in enumerate(row):
        if index == 0:
            continue
        arr.append(row[index])
    cur.execute(sql, arr)
conn.commit()

In [89]:
file_name = 'cate_attr_info.json'

final_data = []
ids = []
# for file_name in file_names:
with open(file_name, 'r', encoding='utf-8') as f:
    data = json.load(f)

for index, arr in enumerate(data['attributes']):
    final_data.append(arr['name'])
    ids.append(arr['id'])

In [90]:
df_attributes = pd.DataFrame()
df_attributes['id'] = ids
df_attributes['name'] = final_data

In [91]:
df_attributes

      id               name
0      0  classic (t-shirt)
1      1       polo (shirt)
2      2         undershirt
3      3     henley (shirt)
4      4   ringer (t-shirt)
..   ...                ...
289  289            peacock
290  290              zebra
291  291            giraffe
292  292      toile de jouy
293  293              plant

[294 rows x 2 columns]

In [92]:
df_attributes.to_csv('attributes.csv', sep=',', index=False)
table_name_pre = 'ququ_'
table_name = 'attributes'
data = pd.read_csv(table_name+'.csv')

# print(data)

for row in data.itertuples():
    sql = "insert into "+ table_name_pre+table_name+"("+','.join(data.columns.values)+") values ( "+ ','.join('?'*len(data.columns.values)) + ")"
    arr = [];
    for index, value in enumerate(row):
        if index == 0:
            continue
        arr.append(row[index])
    cur.execute(sql, arr)
conn.commit()

In [93]:
pd.read_csv('attributes.csv')

      id               name
0      0  classic (t-shirt)
1      1       polo (shirt)
2      2         undershirt
3      3     henley (shirt)
4      4   ringer (t-shirt)
..   ...                ...
289  289            peacock
290  290              zebra
291  291            giraffe
292  292      toile de jouy
293  293              plant

[294 rows x 2 columns]

In [94]:
# import_csv_to_sqlite3('category.csv','ququ_category')

In [95]:
# import_csv_to_sqlite3('attributes.csv','ququ_attributes')

##### 22SS_vogue.json

In [96]:
file_name = '22SS_vogue.json'

images = []
category = []
attributes = []
attributes2 = []
brands = []
# for file_name in file_names:
with open(file_name, 'r', encoding='utf-8') as f:
    data = json.load(f)

for index, arr in enumerate(data):
    images.append(arr['image'])
    category.append(arr['category'])
    attributes2.append('|'.join(map(str, arr['attributes'])))
    brands.append(arr['image'].split('_')[-2])
    
# attributes2

In [97]:
df_vogue = pd.DataFrame()

# df_vogue.loc[:,'year'] = 2022

# df_vogue['season'] = 'ss'
df_vogue['image'] = images
df_vogue['category'] = category
df_vogue['attributes'] = attributes2
df_vogue['year'] = 2022
df_vogue['season'] = 'ss'
df_vogue['brand'] = brands
df_vogue

,image,category,attributes,year,season,brand
0,"/home/kshan/storage1/21FW,22SS/S_22_fashion-east_33.jpg",1,8|9|11|115|135|141|146|248|269|270,2022,ss,fashion-east
1,"/home/kshan/storage1/21FW,22SS/S_22_fashion-east_33.jpg",10,106|115|127|142|229|248|270,2022,ss,fashion-east
2,"/home/kshan/storage1/21FW,22SS/S_22_fashion-east_33.jpg",23,,2022,ss,fashion-east
3,"/home/kshan/storage1/21FW,22SS/S_22_fashion-east_33.jpg",33,197,2022,ss,fashion-east
4,"/home/kshan/storage1/21FW,22SS/S_22_courreges_36.jpg",1,0|115|136|145|146|147|248|269|270,2022,ss,courreges
...,...,...,...,...,...,...
89181,"/home/kshan/storage1/21FW,22SS/S_22_richard-quinn_12.jpg",24,,2022,ss,richard-quinn
89182,"/home/kshan/storage1/21FW,22SS/S_22_richard-quinn_12.jpg",25,,2022,ss,richard-quinn
89183,"/home/kshan/storage1/21FW,22SS/S_22_richard-quinn_12.jpg",28,162,2022,ss,richard-quinn
89184,"/home/kshan/storage1/21FW,22SS/S_22_richard-quinn_12.jpg",31,160|204,2022,ss,richard-quinn
89185,"/home/kshan/storage1/21FW,22SS/S_22_richard-quinn_12.jpg",32,222,2022,ss,richard-quinn

In [98]:
df_vogue.to_csv('vogue.csv', sep=',', index=False)
table_name_pre = 'ququ_'
table_name = 'vogue'
data = pd.read_csv(table_name+'.csv')

# print(data)

for row in data.itertuples():
    sql = "insert into "+ table_name_pre+table_name+"("+','.join(data.columns.values)+") values ( "+ ','.join('?'*len(data.columns.values)) + ")"
    arr = [];
    for index, value in enumerate(row):
        if index == 0:
            continue
        arr.append(row[index])
    cur.execute(sql, arr)
conn.commit()

In [99]:
pd.read_csv('vogue.csv')

,image,category,attributes,year,season,brand
0,"/home/kshan/storage1/21FW,22SS/S_22_fashion-east_33.jpg",1,8|9|11|115|135|141|146|248|269|270,2022,ss,fashion-east
1,"/home/kshan/storage1/21FW,22SS/S_22_fashion-east_33.jpg",10,106|115|127|142|229|248|270,2022,ss,fashion-east
2,"/home/kshan/storage1/21FW,22SS/S_22_fashion-east_33.jpg",23,NaN,2022,ss,fashion-east
3,"/home/kshan/storage1/21FW,22SS/S_22_fashion-east_33.jpg",33,197,2022,ss,fashion-east
4,"/home/kshan/storage1/21FW,22SS/S_22_courreges_36.jpg",1,0|115|136|145|146|147|248|269|270,2022,ss,courreges
...,...,...,...,...,...,...
89181,"/home/kshan/storage1/21FW,22SS/S_22_richard-quinn_12.jpg",24,NaN,2022,ss,richard-quinn
89182,"/home/kshan/storage1/21FW,22SS/S_22_richard-quinn_12.jpg",25,NaN,2022,ss,richard-quinn
89183,"/home/kshan/storage1/21FW,22SS/S_22_richard-quinn_12.jpg",28,162,2022,ss,richard-quinn
89184,"/home/kshan/storage1/21FW,22SS/S_22_richard-quinn_12.jpg",31,160|204,2022,ss,richard-quinn
89185,"/home/kshan/storage1/21FW,22SS/S_22_richard-quinn_12.jpg",32,222,2022,ss,richard-quinn

In [100]:
# import_csv_to_sqlite3('vogue.csv','ququ_vogue')

##### category-attribute 관계 파일 읽기 (ss22시즌에 대하여)

In [101]:
table_name_pre = 'ququ_'
table_name = 'cat_attr'
data = pd.read_csv('s22_atrribute.csv')

# print(data)
data.columns = ['category', 'attribute']

data['year'] = 2022
data['season'] = 'ss'


atr = data['attribute'].str.replace('[', '')
atr = atr.str.replace(']', '')
atr = atr.str.replace("'", '')
atr = atr.str.replace(' ', '')
# map(str, arr['attributes'])))
cat_atr = []
for a in atr:  
    cat_atr.append('|'.join(a.split(',')))

# print(cat_atr)


data['attribute'] = cat_atr


# attributes2.append('|'.join(map(str, arr['attributes'])))

/var/folders/xy/jqnqvjt96_nbddfybgz1t7wh0000gn/T/ipykernel_1721/1295038806.py:12: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  atr = data['attribute'].str.replace('[', '')
/var/folders/xy/jqnqvjt96_nbddfybgz1t7wh0000gn/T/ipykernel_1721/1295038806.py:13: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  atr = atr.str.replace(']', '')

In [102]:
data

,category,attribute,year,season
0,0,1|103|135|136|137|141|142|145|146|147|148|149|163|2|225|251|254|264|275|278|3|6|7,2022,ss
1,10,100|101|102|103|104|105|106|108|109|111|112|113|114|117|119|120|121|127|128|129|130|133|135|136|137|140|141|142|145|146|147|148|149|150|151|152|153|154|155|225|228|234|235|254|258|260|262|264|265|266|268|275|278|281|95|96|98,2022,ss
2,11,126|128|132|135|136|137|141|142|145|146|148|149|153|154|155|225|229|234|251|254|258|278,2022,ss
3,12,137|138|145|146|242|264,2022,ss
4,13,,2022,ss
5,14,,2022,ss
6,15,,2022,ss
7,16,,2022,ss
8,17,,2022,ss
9,18,,2022,ss
10,19,,2022,ss
11,1,0|10|11|114|116|12|13|135|136|137|139|14|141|142|145|146|147|148|149|16|2|225|229|234|254|258|265|266|273|278|281|8|9,2022,ss
12,20,,2022,ss
13,21,,2022,ss
14,22,,2022,ss
15,24,,2022,ss
16,25,,2022,ss
17,26,,2022,ss
18,27,,2022,ss
19,28,162|163|166|168|169|170|173|179|197,2022,ss
20,29,146|162|174|175|176|177|178,2022,ss
21,2,135|136|137|142|145|146|147|149|254|281,2022,ss
22,30,,2022,ss
23,31,156|157|158|159|205|207|209|210|211|213|214|216,2022,ss
24,32,217|218|219|220|221|222|223|224,2022,ss
25,33,135|169|179|180|181|182|183|184|185|186|187|189|190|191|192|194|195|197|198|199|200|202|203,2022,ss
26,34,,2022,ss
27,35,,2022,ss
28,36,,2022,ss
29,37,,2022,ss
30,38,,2022,ss
31,39,,2022,ss
32,3,135|136|137|142|145|146|147|149|225|228|235|254,2022,ss
33,40,,2022,ss
34,41,,2022,ss
35,42,,2022,ss
36,43,,2022,ss
37,44,,2022,ss
38,45,,2022,ss
39,4,135|136|137|141|142|145|146|147|148|149|17|19|20|21|22|225|226|229|235|237|242|251|254|264|265|275|278|29|30|31|32|35,2022,ss
40,5,135|136|141|142|145|146|147|225|229|235|251|264,2022,ss
41,6,125|126|128|132|135|136|137|138|141|142|143|153|155|229|230|234|250|251|254|257|278|36|37|38|39|41|44|46|49,2022,ss
42,7,135|136|137|141|142|143|148|149|150|151|152|229|230|234|251|253|254|278|50|52|58|59|60,2022,ss
43,8,108|118|120|123|127|128|129|133|141|142|149|150|151|152|153|154|155|229|230|234|251|254|257|258|262|275|278|281|65|67|68|69|70|71|72|77,2022,ss
44,9,135|136|137|142|145|147|148|149|150|151|152|153|154|155|17|225|226|228|229|242|254|264|275|278|79|81|82|84|85|86|92|93|94,2022,ss

In [103]:

for row in data.itertuples():
    sql = "insert into "+ table_name_pre+table_name+"("+','.join(data.columns.values)+") values ( "+ ','.join('?'*len(data.columns.values)) + ")"
    arr = [];
    for index, value in enumerate(row):
        if index == 0:
            continue
        arr.append(row[index])
    cur.execute(sql, arr)
conn.commit()

In [104]:
s22_one_hot_encoding = pd.read_csv('s22_onehotencoding.csv')

In [105]:
s22_one_hot_encoding['year'] = 2022
s22_one_hot_encoding['season'] = 'ss'

In [106]:
ids = []
for index, arr in enumerate(s22_one_hot_encoding['row_name']):
    ids.append(index)
# s22_one_hot_encoding['id'] = ids

In [107]:
ids

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

In [108]:
print(s22_one_hot_encoding)

                           row_name  0_1  0_103  0_135  0_136  0_137  0_141  \
0          S_22_fashion-east_33.jpg    0      0      0      0      0      0
1             S_22_courreges_36.jpg    0      0      0      0      0      0
2                  S_22_chloe_6.jpg    0      0      0      0      0      0
3               S_22_dsquared_1.jpg    1      0      0      1      0      0
4               S_22_ferrari_40.jpg    0      0      0      0      0      0
...                             ...  ...    ...    ...    ...    ...    ...
13422  S_22_comme-des-garcons_1.jpg    0      0      0      0      0      0
13423      S_22_schiaparelli_10.jpg    0      0      0      0      0      0
13424   S_22_elder-statesman_12.jpg    0      0      0      1      0      0
13425     S_22_richard-quinn_21.jpg    0      0      0      0      0      0
13426     S_22_richard-quinn_12.jpg    0      0      0      0      0      0

       0_142  0_145  0_146  ...  9_81  9_82  9_84  9_85  9_86  9_92  9_93  \
0          0      0      0  ...     0     0     0     0     0     0     0
1          0      0      0  ...     0     0     0     0     0     0     0
2          0      0      0  ...     0     0     0     0     0     0     0
3          0      1      1  ...     0     0     0     0     0     0     0
4          0      0      0  ...     0     0     0     0     0     0     0
...      ...    ...    ...  ...   ...   ...   ...   ...   ...   ...   ...
13422      0      0      0  ...     0     0     0     0     0     0     0
13423      0      0      0  ...     0     0     0     0     0     0     0
13424      0      1      1  ...     0     0     0     0     0     0     0
13425      0      0      0  ...     0     0     0     0     0     0     0
13426      0      0      0  ...     0     0     0     0     0     0     0

       9_94  year  season
0         0  2022      ss
1         0  2022      ss
2         0  2022      ss
3         0  2022      ss
4         0  2022      ss
...     ...   ...     ...
13422     0  2022      ss
13423     0  2022      ss
13424     0  2022      ss
13425     0  2022      ss
13426     0  2022      ss

[13427 rows x 417 columns]

In [114]:
table_name_pre = 'ququ_'
table_name = 'cat_attr_encoding'
data = s22_one_hot_encoding




__str = ''
__qry = ''
for v in data.columns.values[1:]:
    __str =  __str + ', ' + '"col_'+ v + '" text '
    __qry = __qry + ', col_' + v
conn.execute('drop table IF EXISTS ququ_cat_attr_encoding')
conn.execute('CREATE TABLE "ququ_cat_attr_encoding" ( "row_name" text '+ __str +' ,"id" INTEGER primary key AUTOINCREMENT)' )
conn.commit()

# print(__qry)

for row in data.itertuples():
    sql = "insert into "+ table_name_pre+table_name+"(row_name "+ __qry +") values ( "+ ','.join('?'*len(data.columns.values)) + ")"
    arr = [];
    for index, value in enumerate(row):
        arr.append(row[index])
#     arr.append(index)
#     print(sql)
#     print(arr)
#     break
    cur.execute(sql, arr[1:])
conn.commit()

In [ ]:
# s22_one_hot_encoding.to_sql('ququ_cat_attr_encoding', conn, if_exists='replace', index=False)